@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* custom colors */
  --color-brown-100: #ece0d1;
  --color-brown-300: #dbc1ac;
  --color-brown-600: #967259;
  --color-brown-900: #634832;

  /* project shadow */
  --shadow-project-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);

  /*project font */
  --font-dana: "dana";
}

@font-face {
  font-family: dana;
  src: url(fonts/Dana-Regular.ttf);
}

body{
  background-image: url(media/headerBgDesktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}